::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #303f9f6e;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #303f9f6e;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #303f9f6e;
  }