::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #303f9f6e;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #303f9f6e;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #303f9f6e;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  position: relative;
  -webkit-transition: .10s;
  border: 2px solid #303f9f;
  background-color: #e6e6e6;
  margin-left: 10px;
}

input[type="checkbox"]:checked {
  background-color: #303f9f;
}

input[type="checkbox"]:before, 
input[type="checkbox"]:checked:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  text-align: center;
  color: white;
}

input[type="checkbox"]:checked:before {
  content: '✔';
}